.plantacoes{
    background-color: #7cb342;
    height: 100px;
    -webkit-box-shadow: 8px 8px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 8px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         8px 8px 9px 0px rgba(50, 50, 50, 0.75);
}

.textoh1{
    padding-top: 2%;
    color: white;
    font-family: "Bodoni MT";


}

.img-plant{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}
.texto{
    padding-top: 5%;
    padding-left: 5%;
}

.texto2{
    padding-top: 5%;
    padding-right: 5%;
}


p{
    text-align: justify;

}

hr{
    width: 70%;

}

.video{
    margin-top: 5%;
    margin-left: 5%;

}